@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Work Sans', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}

div[data-rk] {
  height: -webkit-fill-available;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
ul {
  margin: 0;
  padding: 0;
}
